*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
body{
    background-color: bisque;
}
.title{
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    
}
.container{
    display: flex;
    
    
}
.box{
    background-color: aqua;
    width: 400px;
    margin-right: 20px;
    box-shadow: 0px 0px 10px #000;


}
.fields{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.fields > label{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
    padding: 8px 24px ;
    background-color: yellow;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
}
.btn.print{
    margin-top: 20px;

    
}
.buttonContainer{
    padding: 10px 20px;
}
.ml-10{
    margin-left: 10px;
}
.imageContainer{
    width: 75px;
    height: 75px;
    background: #fff;
    box-shadow: 0 0 5px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px auto 0;
}
.imageContainer >img{
    max-width: 100%;
    max-height: 100%;

}
@media print{
    body{
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formInputs{
        display: none;
    }
    .card{
        visibility: visible;
    }
    .btn print{
        display: none;
    }
}